@import "utils";

$font-size-nav: px2rem(30);  // 导航栏字体大小
$font-size-title: px2rem(34); // 每页的标题大小
$color-nav: #A5A5A5;
$color-hover-nav: #85A8CB;

$title-color: #FFE3B1;

//$tv-color: #88C0DA;
$tv-color: #AB7867;
$tv-btn-color: #ec6b46;
$tv-btn-hover-color: #dc4d23;

$letter-spacing: 4px;    // 单词间距（或字间距）

$fontSize-small: px2rem(14);
$fontSize-middle: px2rem(18);
$fontSize-big: px2rem(22);

$color-slide-nav-color: #337ab7;
